<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Editor</title>
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/headerFooter.css">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/style.css">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/panelEditor.css">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/agregarPreguntaEditor.css">
</head>
<body>

<h2>Agregar Categoría</h2>

<form method="POST" action="{{BASE_URL}}/Editor/agregarCategoria" class="panel">
    <label>Descripción de la categoría:</label>
    <input type="text" name="descripcion" required>

    <button class="btn_agregar" style="width: 10rem" type="submit">Agregar</button>
</form>

</body>
</html>