<html>
<head>
    <meta charset="utf-8">
    <title>Preguntados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/headerFooter.css">
</head>
<footer>
    <p>© 2025 Preguntados - Trabajo Práctico Final</p>
</footer>
</html>