<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Partidas Jugadas</title>
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/style.css">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/partida.css">
</head>
<body>
{{> header }}

<main>
    <h2>Partidas Jugadas de {{nombre_completo}}</h2>

        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Puntaje</th>
            </tr>
            </thead>
            <tbody>
            {{#partidas}}
                <tr>
                    <td data-label="Fecha">{{fecha}}</td>
                    <td data-label="Puntaje">{{puntaje}}</td>
                </tr>
            {{/partidas}}
            </tbody>
        </table>

    {{^partidas}}
        <p>No jugaste ninguna partida todavía.</p>
    {{/partidas}}
</main>

</body>
</html>