<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sugerir Pregunta</title>
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/style.css">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/headerFooter.css">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/sugerida.css">
</head>

<body>
{{#mensaje}}
<p style="color: green;">{{mensaje}}</p>
{{/mensaje}}

<form action="/PreguntaSugerida/guardar" method="POST">

    <label for="pregunta">Texto de la pregunta:</label>
    <input type="text" id="pregunta" name="pregunta" required>

    <h4>Marcar la correcta:</h4>

    <div>
        <input type="radio" name="correcta" value="1" required>
        <input type="text" name="respuesta1" placeholder="Respuesta 1" required>
    </div>

    <div>
        <input type="radio" name="correcta" value="2">
        <input type="text" name="respuesta2" placeholder="Respuesta 2" required>
    </div>

    <div>
        <input type="radio" name="correcta" value="3">
        <input type="text" name="respuesta3" placeholder="Respuesta 3" required>
    </div>

    <div>
        <input type="radio" name="correcta" value="4">
        <input type="text" name="respuesta4" placeholder="Respuesta 4" required>
    </div>

    <label>Categoría:</label>

    {{#categorias}}
    <div class="categorias">
        <input type="radio" name="categoria" value="{{id}}" required> {{descripcion}}<br>
    </div>
    {{/categorias}}


    <button type="submit">Enviar sugerencia</button>
</form>

</body>
</html>