<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/style.css">
    <link rel="stylesheet" href="{{BASE_URL}}/public/style/headerFooter.css">
</head>
<h2>Token inválido o cuenta ya activada</h2>
<p>Si el problema persiste, registrate nuevamente.</p>