.formAgregarPregunta {
    max-width: 600px;
    width: 90%;
    background: #fff;
    margin: 80px auto;
    padding: 40px 30px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn_confirm{
    height: 2.5rem;
    width: 15rem;
    position: relative;
    left: 9.5rem;
    border: 0.5px solid black;
    border-radius: 4px;
    background: #cc0404;
    color: white;
}

.btn_confirm:hover {
    background-color: #8e0303;
}

.btn_agregar{
    height: 2.5rem;
    width: 15rem;
    border: 0.5px solid black;
    border-radius: 4px;
    background: #cc0404;
    color: white;
    margin: 20px auto;
}

.btn_agregar:hover {
    background-color: #8e0303;
}