button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 20rem;
}
.respuestas {
    max-width: 400px;
}

.pregunta_imagen {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: block;
    margin-bottom: 1rem;
}

#respuestaForm{
    display: none;
}