button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 20rem;
}
.respuestas {
    max-width: 400px;
}

.pregunta_imagen {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: block;
    margin-bottom: 1rem;
}

#respuestaForm{
    display: none;
}

.respuestas button.correcta {
    background-color: #4CAF50;
    color: white;
}

.respuestas button.incorrecta {
    background-color: #f44336;
    color: white;
}

.btns_fin{
    position: relative;
    top: 12rem;
    left: 22rem;
    display: flex;
    gap: 20px;
}

.contentBox{
    height: 35rem;
    width: 60%;
    border: 0.5px;
    background: rgb(255, 88, 88);
    margin-top: 7rem;
}

.resultados{
    position: relative;
    top: 4rem;
    left: 24rem;
    font-size: 1.5rem;
}

.categoria {
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
}

.categoria.deportes{
    background-color: #ef9222;
}

.categoria.historia{
    background-color: #fdd730;
}

.categoria.arte{
    background-color: #f63232;
}

.categoria.ciencia{
    background-color: #4dfd3a;
}

.categoria.geografia{
    background-color: #3498db;
}

.categoria.entretenimiento{
    background-color: #ed479d;
}