form {
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 5%;
}

label, h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categorias{
    display: flex;
    gap: 10px;

}

input[type="radio"] {
    transform: scale(1.2);
}

button {
    padding: 10px;
    background-color: #8b0000;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a52a2a;
}

p {
    text-align: center;
    font-weight: bold;
}